/* основной цвет текста #212121 */
/* активный цвет текста #2196F3 */
/* дополнительный цвет текста #757575 */
/* второй дополнительный цвет текста #ffffff */
/* основной цвет фона #ffffff */
/* дополнительный цвет фона #AFB1B8 */
/* активный цвет проектов портфолио rgba(33, 150, 243, 0.9); */
/* основные */

:root{
    --main-text-color: #212121;
    --accent-text-color: #2196F3;
    --secondary-text-color: #757575;
    --main-bg-color: #ffffff;
    --secondary-bg-color: #AFB1B8;
    --team-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --portfolio-accent-color: rgba(33, 150, 243, 0.9);
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    background-color: #ffffff;
    color: #212121;
    font-style: normal;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    margin: 0px;
    padding: 0px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
p {
    margin: 0px;
}
a {
    text-decoration: none;
    display: block;
}
img {
    display: block;
}
button {
    display: block;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* хедер */
.header {
    border: 1px solid #ECECEC;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    display: flex;
    align-items: center;
}
.logo-name {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #000000;
    margin-right: 85px;
    animation-duration: 500ms;
}
.name-web {
 color: var(--accent-text-color);
}
.list-nav {
    display: flex;
}
.list-nav-link:not(:last-child){
    margin-right: 50px;
}
.list-nav-link {
    position: relative;
} 
.list-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.navigation-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
}
.navigation-list-link-primary {
    animation-duration: 500ms;
}
.navigation-list-link-primary::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.link-primary {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}
.list-nav .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-nav .link:hover,
.list-nav .link:focus {
    color: var(--accent-text-color);
}
.adress-top {
    display: flex;
    align-items: center;
}
.adress-top-icon {
    fill: var(--secondary-text-color);
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-top .link:not(:last-child) {
    margin-right: 30px;
}
.adress-top .link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-top .link:hover,
.adress-top .link:focus {
    color: var(--accent-text-color);
}
.adress-top .link:hover .adress-top-icon,
.adress-top .link:focus .adress-top-icon {
    fill: var(--accent-text-color);
}
 
/* основная инфо страницы студио */
.hero {
    max-width: 1600px;
    background-image:
    linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/Header-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-bg-color);
    margin-bottom: 30px;
    width: 696px;
    margin-right: auto;
    margin-left: auto;
}
.button-main-top {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-bg-color);
    background-color: var(--accent-text-color);
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-main-top:hover,
.button-main-top:focus {
    background-color: #188CE8;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-list {
    display: flex;
}
.feature-list-item:not(:last-child) {
    margin-right: 30px;
}
.bg-feature-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--team-bg-color);
    width: 270px;
    height: 120px;
}
.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-bottom: 10px;
}
.features-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}
.section > .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--main-text-color);
}
.we-do {
    padding-top: 0px;
}
.we-do-title {
    margin-bottom: 50px;
    text-align: center;
}
.we-do-list {
    display: flex;
}
.we-do-list-item {
    position: relative;
}
.we-do-list-item:not(:last-child) {
    margin-right: 30px;
}
.we-do-item {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--main-bg-color);
    padding-top: 27px;
    padding-bottom: 27px;
}
.team-bgc {
    background-color: var(--team-bg-color);
}
.team > .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 50px;
}
.team-list {
    display: flex;
}
.team-list-person {
    width: 270px;
    background-color: var(--main-bg-color);
    box-shadow: 
    0px 2px 1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}
.team-list-person:not(:last-child) {
    margin-right: 30px;
}
.team-img {
    margin-bottom: 30px;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}
.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 15px;
}
.team-social-list {
    display: flex;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;    
}
.team-social-list-item:not(:last-child) {
    margin-right: 10px;
}
.team-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link-svg {
    width: 20px;
    height: 20px;
    fill: var(--secondary-bg-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover,
.team-link:focus {
    background-color: var(--accent-text-color);
}
.team-link:hover .team-social-link-svg,
.team-link:focus .team-social-link-svg{
    fill: var(--main-bg-color);
}
.clients {
    text-align: center;
}
.clients-title {
    margin-bottom: 50px;
}
.clients-link {
    display: flex;
    border: 1px solid var(--secondary-bg-color);
    width: 170px;
    height: 90px;
    justify-content: center;
    align-items: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-name-svg {
    fill: var(--secondary-bg-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--accent-text-color);
}
.clients-link:hover .clients-name-svg,
.clients-link:focus .clients-name-svg {
    fill: var(--accent-text-color);
}
.clients-list {
    display: flex;
}
.clients-list-item:not(:last-child) {
    margin-right: 30px;
}

/* подвал */
.footer {
  background-color: var(--footer-bg-color);
}
.footer .container {
    display: flex;
    align-items: baseline;
    padding-top: 70px;
    padding-bottom: 100px;
}
.adress-bot {
    margin-right: 69px;
}
.footer .logo-name {
    color: var(--main-bg-color);
    margin-bottom: 20px;
    margin-right: auto;
}
.adress-list-item:not(:last-child) {
    margin-bottom: 10px;
}
.adress-list .map {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-bg-color);
}
.adress-list .link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}
.join-us {
    margin-right: 95px;
}
.join-us-list {
    display: flex;
    justify-content: center;
}
.join-us-list-item:not(:last-child) {
    margin-right: 10px;
}
.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    fill: var(--main-bg-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-svg {
    width: 20px;
    height: 20px;
}
.social-link:hover,
.social-link:focus {
    background-color: var(--accent-text-color);
}
.action {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--main-bg-color);
    display: block;
    margin-bottom: 20px;
}
.button-main-bot {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-bg-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
}
.follow {
    display: flex;
}
.enter {
    width: 358px;
    height: 50px;
    padding: 16px 15px;
    margin-right: 10px;
    background-color: var(--footer-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}
.envelope {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--main-bg-color);
}

/* разметка страницы портфолио */
.portfolio .container {
   padding-top: 95px;
   padding-bottom: 95px;
}
.filters {
    margin-bottom: 35px;
}
.filters-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filters-list-item:not(:last-child) {
margin-right: 10px;
}
.filters-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    align-items: center;
    text-align: center;
    background-color: var(--team-bg-color);
    color: var(--main-text-color);
    border-radius: 4px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-name:hover,
.filters-name:focus {
    background-color: var(--accent-text-color);
    color: var(--main-bg-color);
    box-shadow: 
    0px 2px 2px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
.project {
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover,
.project:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  0px 1px 1px rgba(0, 0, 0, 0.12);
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
}
.projects-list-item {
    width: 370px;
    border: 1px solid #EEEEEE;
}
.projects-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.projects-list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}
/* .project-img {

} */
.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 5px;
}
.project-kind {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--secondary-text-color);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
}
.overlay {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.description {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    background-color: var(--portfolio-accent-color);
    color: var(--main-bg-color);
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover .description,
.project:focus .description {
    top: 0;
}

/* разметка модального окна */
.backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 528px;
    height: 581px;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
} */
.modal-title {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
}
.forma {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 528px;
    height: 581px;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.forma-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.forma-close-icon {
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.forma-close:hover .forma-close-icon,
.forma-close:focus .forma-close-icon {
    fill: var(--accent-text-color);
}
.forma-field {
    position: relative;
    display: block;
    cursor: pointer;
}
.forma-field:not(:last-child) {
    margin-bottom: 10px;
}
.forma-name {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.forma-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.forma-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-input {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.forma-input:focus,
.textarea-input:focus {
    outline: none;
}
.forma-input:focus:required:valid {
    border-color: var(--accent-text-color);
}
.forma-input:focus:required:invalid {
    border-color: var(--accent-text-color);
}
.forma-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.forma-field:focus-within > .forma-name {
    color: var(--accent-text-color);
}
.forma-field:focus-within > .forma-input {
    border-color: 1px solid var(--accent-text-color);
}
.forma-field:focus-within > .forma-icon {
    fill: var(--accent-text-color);
}
.forma-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-text-color);
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .icon-checkbox {
    border-color: transparent;
    background-color: var(--accent-text-color);
    background-image: url(../images/chek-icon.svg);
    background-size: contain;
    background-origin: border-box;
}
.text-dogovor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin: 0 auto;
    color: var(--secondary-text-color);
}
.dogovor {
    text-decoration: underline;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--accent-text-color);
    margin-left: 6px;
}
.send-btn {
    width: 200px;
    height: 50px;
    padding: 10px 55px;
    margin: 0 auto;
    background-color: var(--accent-text-color);
    color: var(--main-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.send-btn:hover {
    background: #188CE8;
}
